<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/cadastro.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/editar_conta.css">
    <title>Doce Lar Doce Sabor</title>
</head>
<header></header>
<body class="{{ body_class or '' }}">
    {% block body %}{% endblock %}
    
</body>
</html>