<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Explorar Receitas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='explorar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
</head>
<body class="explorar">
      
  <header class="header-explorar">
    <img class="icon-header" src="../static/css/assets/Group 80.png" alt="">
    <div class="header-links">
      <a href="{{url_for('home')}}">Início</a>
      <img class="coracao-header" src="../static/css/assets/coracao (1) 1.png" alt="">
      <a href="{{url_for('explorar')}}">Explorar</a>
      
    </div>
    <a class="user-header"  href="{{url_for('editar_conta')}}"><img src="../static/css/assets/homem-usuario (1) 1.png" alt=""></a>
  </header>
  <main class="container">
    <div class="pesquisa-explorar">
      <img src="../static/css/assets/Group 94.png" alt="" class="frase-explorar">
      <div class="barra-pesquisa-botao">
        
        <!-- Barra de busca -->
        <form method="get" action="{{ url_for('explorar') }}" class="search-bar">
          <input type="text" name="q" placeholder="Buscar receita..." value="{{ request.args.get('q', '') }}">
          <button type="submit"></button>
        </form>
      </div>
    </div>

    <img src="../static/css/assets/Group 81.png" alt="" class="icon-vermelho-explorar">
    <div class="recomendacoes">
      <div class="caixa-recomendacoes">
        <h1>Recomendações para você</h1>
      </div>
    </div>
      <h1>Explore novos sabores!</h1>
    <div class="grid">
      
      {% for receita in receitas %}
      <article class="card">
        <img src="{{ url_for('static', filename=receita.imagem) }}" alt="{{ receita.titulo }}">
        <div class="card-content">
          <div class="layout-card">
            <div>
              <h2>{{ receita.titulo }}</h2>
              <p>{{ receita.categoria or 'Não informada' }}</p>
            </div>
            <form action="{{ url_for('favoritar', receita_id=receita.id) }}" method="POST" style="display:inline;">
              <button type="submit" class="btn-favorito" title="Adicionar aos favoritos">❤️</button>
            </form>
          </div>

          <a class="btn" href="{{ url_for('detalhe_receita', id=receita.id) }}"></a>

          
        </div>
      </article>
      {% endfor %}

      {% if not receitas %}
      <p>Nenhuma receita encontrada.</p>
      {% endif %}
    </div>
  </main>
</body>
</html>
