{% extends "base.html" %}
{% set body_class = "login-page" %}

{% block body %}
<div class="container_login">
    <img class="icone-login" src="../static/css/assets/icone-vermelho.png" alt="">
    <h1>Bem vindo de volta!</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form class="form-conta" action="{{ url_for('login') }}" method="post">
        <label for="username">Nome de usuário</label>
        <input type="text" name="username" placeholder="Usuário" required class="input-field" />
        <label for="senha">Senha</label>
        <input type="password" name="senha" placeholder="Senha" required class="input-field" />
        <input type="submit" value="Entrar" class="btn_btn-login" />
    </form>

    <p>Não tem conta? <a href="{{ url_for('cadastro') }}">Cadastre-se aqui</a></p>
</div>
{% endblock %}
